@import "~normalize.css/normalize.css";

@import "./variable.scss";
@import "./mixin.scss";
@import "./utils.scss";
@import "./grid.scss";


* {
    box-sizing: border-box;
}

body {
    font-family: Microsoft JhengHei;
    background-color: #f7f7f7;
}