// media query break point
$media_lg_mobile: 400px;
$media_tablets: 770px;
$media_desktop: 995px;
// grid
$grid_gap: 10px;

// header
$navbar_height: 50px;
$navbar_link_color: #535353;

// height
$input_height: 40px;

// margin base
$margin_base: 10px;

// padding base
$padding_base: 10px;

// font size base
$fontSize_base: 10px;
