.App {
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
    }
    li {
        border: 1px solid #000;
        background-color: blue;
        height: 100px;
    }
}